@charset "UTF-8";
.secondary-new {
    background-color: #4DD0E1;
}

.top-bannar { max-width: 1380px; margin: 0 auto; background:#040410;}
.top-bannar, .top-bannar ul { background:#040410;}

.top-bannar a{color: #fff;}

.font48 { font-size: 48px;}
.white { color: #ffffff;}

@media (max-width: 480px) {
    /*.top-bannar { position: fixed; z-index: 9999;}*/
    #content { padding-top: 20px;}
    .content-right { display: none;}


}

